<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
<div class="todo">
    <div *ngFor="let menu of this.menus" >
        <h1>{{menu.nombre}}</h1>
        <h2 class="centrado">Primeros</h2>
        
        <p class="centrado" *ngFor="let primeros of menu.primeros">
            {{primeros}}
        </p>
        <!--ul></ul-->
        <br>
        <h2 class="centrado">Segundos</h2>
        <p class="centrado" *ngFor="let segundos of menu.segundos">
            {{segundos}}
        </p>
        <br>
        <h2 class="centrado">Postres</h2>
            <p class="centrado" *ngFor="let postres of menu.postres">
                {{postres}}
            </p>
        
        <p class="precio centrado">{{menu.precio}} euros</p>
        <br>
    </div>
</div>
