.iconos{
  padding-left: 3%;
  align-items:center;
  height: fit-content;
  width: fit-content;
  font-size: 250%;
}
.mat-icon {
    
    vertical-align: middle;
}
.menus{
  font-size: 150%;
  margin-right: 5%;
  width:fit-content;
  height:fit-content;

}
.send{
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  font-size: 250%;
  align-items:center;
}
mat-form-field{
    width: 100%!important;
}
.nombre{
    width: 55%!important;
}
.precio{
    padding-left: 5%;
    width: 25%!important;
}
.enviar{
    padding-left: 7%;

}
.introducir{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
.todo{
  display: flex;
  flex-direction: column;
}
.cerrar{
  display: flex!important;
  justify-content: right!important;
}
.titulo{
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  height: fit-content;
  color: rgb(102, 102, 102);
}
.header{
  display: flex;
  flex-direction: row;
}