<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>

<div class="todo">
    <div class="contacto">
        <h1>Contacto</h1>
        <div class="info">
            
            
            <div class="element">
                <mat-icon class="iconos" fontIcon="location_on"></mat-icon> 
                <a class="text">Aragon 74, Montalban, Teruel</a>
            </div>
            <br>
            <div class="element">
                <mat-icon class="iconos" fontIcon="phone"></mat-icon> 
                <a class="text">+34 622 64 66 30</a>
            </div>
            <br>
            <div class="element">
                <mat-icon class="iconos" fontIcon="email"></mat-icon> 
                <a class="text">aa21.amallen98@iespabloserrano.com</a>
            </div>
        </div>
    </div>

    <div class="barra">
        <hr>
    </div>
    

    <div class="horarios">
        <h1>Horario</h1>
        <div>
            
            
            <div class="horarioTexto">
                <!--mat-icon class="iconos" fontIcon="location_on"></mat-icon--> 
                <p class="text">Desayuno: L - V de 7:00 a 11:00 y S - D de 7:30 a 11:30</p>
            </div>
            <div class="horarioTexto">
                <p class="text">Comida: 13:00 - 15:00</p>
            </div>
            <div class="horarioTexto">
                <p class="text">Cena: 20:30 - 22:30</p>
            </div>
            <div class="horarioTexto">
                <p class="text">Bar: 13:00 – 01:00</p>
            </div>
        </div>
    </div>
</div>


