
<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
<div class="texto">
    <div class="quienes">
        <h1>Quienes somos</h1>
        <p>
            Somos un pequeño restaurante familiar con ganas de traer algo nuevo y refrescante a la zona, en nuestro menu se utilizan gran cantidad de ingredientes locales asi como plantas y vegetales de la zona.
        </p>
    </div>
    <div class="donde">
        <h1>Donde estamos</h1>
        <p>
            El local se encuentra en Avenida Aragon, Montalban, Teruel en el numero 74. Ubicados en una zona de cuencas mineras caracterizada por su rica cultura y unas zonas montañosas con una gran cantidad de naturaleza.
        </p>
    </div>
    <!--li *ngFor="let user of users">{{user.nombre}} {{user.rol}}</li-->
</div>