
<mat-toolbar class="navbar" color="">
    <img class="logo" ngSrc="../../assets/logo.png" width="250" height="76" alt="logo" routerLink="home"/>


    <a  class="navbarButtons" mat-button routerLink="home">Información</a>
    <a  class="navbarButtons" mat-button routerLink="carta">Carta</a>
    <a  class="navbarButtons" mat-button routerLink="horarios">Horarios</a>
    <a  class="navbarButtons" mat-button routerLink="reservas" >Contacto y reservas</a>
    <div *ngIf="logueado; else elseBlock">
        <a  class="navbarButtons" mat-button>Hola, {{nombre}}</a><!--mat-raised-button-->
    </div>
    <ng-template #elseBlock>
        <a  class="navbarButtons" mat-button routerLink="login">Log in</a> <!--mat-raised-button-->
    </ng-template>
    
   
</mat-toolbar>


<img class="linea" src="../../assets/linea2.png"  alt="Entrada"/>