
<mat-toolbar class="navbar" color="">
    <img class="logo" ngSrc="../../assets/logo.png" width="250" height="76" alt="logo" routerLink="home"/>


    <a  class="navbarButtons" mat-button routerLink="home">Información</a>
    <a  class="navbarButtons" mat-button routerLink="carta">Carta</a>
    <a  class="navbarButtons" mat-button routerLink="horarios">Contacto y horarios</a>
    <a  class="navbarButtons" mat-button routerLink="reservas" >Reservas</a>
    <div *ngIf="logueado; else elseBlock">
        <button mat-button class="navbarButtons" [matMenuTriggerFor]="menu">Hola, {{nombre}}</button>
        <mat-menu #menu="matMenu">
        <button (click)="misReservas()" mat-menu-item>Mis reservas</button>
        <button (click)="cerrarCuenta()" mat-menu-item>Cerrar cuenta</button>
        <!--<button mat-menu-item>Item 2</button>-->
</mat-menu>
    </div>
    <ng-template #elseBlock>
        <a  class="navbarButtons" mat-button routerLink="login">Log in</a> <!--mat-raised-button-->
    </ng-template>
    
   
</mat-toolbar>


<img class="linea" src="../../assets/linea2.png"  alt="Entrada"/>